.reciter-container {
  position: relative;
  width: 80%;
  margin: auto;
  margin-block: 10px;
  border: 1px solid var(--action);
  border-radius: 20px;
  display: grid;
  grid-template-columns: calc(100% / 3) auto;
  grid-template-areas: "name detailsWrapper";
  align-items: center;
  font-size: 1.3rem;
  text-align: start;
  padding: 30px;
  padding-inline-start: 45px;
  color: var(--font-color);
  cursor: default;
}
.reciter-container:not(:first-child).active,
.reciter-container:first-child {
  color: var(--font-secondary);
  background-color: var(--primary);
}
.reciter-container:not(:first-child) .name {
  grid-area: name;
  font-weight: bold;
  color: var(--font-color);
}
.reciter-container:not(:first-child).active .name, 
.reciter-container:not(:first-child).active .favourite span {
  color: var(--font-secondary);
}
.details-wrapper {
  gap: 15px;
  display: grid;
  grid-area: detailsWrapper;
}
.details {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto repeat(2, 15%);
  align-items: center;
  grid-template-areas: "telawah try listen";
}
.number-of-pages {
  grid-area: listen;
  text-decoration: none;
}
.try {
  grid-area: try;
}
.telawah {
  grid-area: telawah;
}
.try,
.number-of-pages {
  text-align: center;
}
.reciter-container:not(:first-child) .try,
.reciter-container:not(:first-child) .number-of-pages {
  background-color: var(--action);
  color: var(--primary);
  padding-block: 10px;
  border-radius: 15px;
  min-width: 65px;
  border: 1px solid var(--action);
  cursor: pointer;
}
.reciter-container:not(:first-child) .try:hover,
.reciter-container:not(:first-child) .number-of-pages:hover {
  background-color: var(--primary);
  color: var(--action);
}

.favourite {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-start: 10.5px;
  z-index: 10;
  cursor: pointer;
}
.favourite span {
  color: var(--font-color);
  width: 24px;
  font-size: 24px;
}

@media (width<1000px) {
  .reciter-container {
    width: 100%;
  }
}

@media (width < 600px) {
  .favourite{ 
    inset-block-start: 10px;
    inset-inline-start: 10px;
    transform: none;
  }
  .name {
    text-align: center;
  }
  .number-of-pages {
    white-space: nowrap;
  }
  .reciter-container {
    padding: 10px 20px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    grid-template-areas:
      "name"
      "detailsWrapper";
  }
  .details {
    position: relative;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    grid-template-areas:
      "telawah telawah telawah telawah telawah telawah"
      ". . try listen . .";
  }
  .details::after {
    content: "";
    position: absolute;
    inset-block-end: -10px;
    height: 1px;
    inset-inline: 25%;
    /* background-color: var(--action); */
  }
  .details:last-child:after {
    background-color: transparent;
  }
  .telawah {
    text-align: center;
  }
}
