.reciter-name {
  margin: 20px;
}
.container {
  height: calc(100dvh - 60px);
  margin-block-start: 80px;
}

.surahs-container {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
