* {
  transition: background-color 0.3s;
}
.themes {
  transform: translateX(-100%);
  position: absolute;
  inset-block-end: -40px;
  inset-inline-end: 0px;
  background-color: var(--action);
  background-color: white;
  padding: 10px 15px;
  transition: 0.3s;
}

@media (hover: hover) {
  .themes:hover {
    transform: translateX(0);
  }
  .themes:hover legend::after {
    content: "navigate_before";
  }
}

@media (hover: none) {
  .themes.shown {
    transform: translateX(0);
  }
  .themes.shown legend::after {
    content: "navigate_before";
  }
}

legend.visually-hidden {
  text-indent: 100%;
  border-radius: 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 20px;
  height: 100%;
  top: 0;
  right: -20px;
  background-color: var(--primary);
  position: absolute;
}
legend.visually-hidden::after {
  position: absolute;
  color: var(--action);
  text-indent: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Material Icons";
  content: "navigate_next";
  font-size: 1.3rem;
  font-weight: bolder;
  inset: 0;
}
.visually-hidden:not(legend) {
  display: none;
}
fieldset {
  display: flex;
  gap: 15px;
  border: none;
}

input {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  background-color: transparent;
  height: 20px;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 2px;
}
input:checked {
  background-color: var(--radio-color);
}
input.light {
  --radio-color: #935d27;
}
input.dark {
  --radio-color: #000000;
}
